@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-family: sans-serif;
}

main{
    display:flex;
    height: 100vh;
    width: 100vw;
}
#background{
    background: no-repeat url("../images/background.jpg");
    background-size: 100% 100%;
    height: 100%;
    width: 66%;
    font-family: 'Bebas Neue', cursive, sans-serif;;
}
#formcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    background-color:rgb(226, 226, 226);
}
form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
}
#inputs{
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 8px;
}
.inputwlabel{
    display: flex;
    flex-direction: column;
}
input{
    width: 20vw;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 2px;
    padding-right: 20px;
    margin-right: 1em;
    font-size: 1rem;
    border-radius: 3px;
    padding: 8px;
}
label{
    font-weight: bold;
    width:80%;
    margin: 1em 1em 0.5em 0;
}
#logo{
    height: 10rem;
    width: 10rem;
    border: none;
}
#formbgcontainer{
background-color: white;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-around;
padding-left: 3rem;
border: solid 1px rgb(216, 216, 216);
box-shadow: 0.125em 0.25em 0.5em gray;
}

#formcontainer > div{
    padding-left: 3rem;
    padding-right: 15rem;
}

p{
    font-size: 1.5rem;
    padding-top: 2.5rem;
    font-weight: 900;
}

legend{
    font-size: 1.5rem;
    font-weight: bold;
}
button{
    width: 20rem;
    height: 3.5rem;
    margin-left: 3rem;
    position: relative;
    top: 3rem;
    border-radius: 10px;
    border: 0;
    background-color: brown;
    color: white;
    font-size: 1rem;
    font-weight: 900;
}

button:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: brown;
}
a:hover{
    color:brown;
    text-decoration: underline;
}
#logocontainer{
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    color: #603913;
    background-color: rgba(0, 0, 0, 0.8)
}